<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395555636051-m1s3gi3e40s34v8fur1cijqn0r337mk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395555636051-m1s3gi3e40s34v8fur1cijqn0r337mk7</string>
	<key>API_KEY</key>
	<string>AIzaSyDHI_kVQtv0BPTMOTJGtnkLLKeIGHiqFcg</string>
	<key>GCM_SENDER_ID</key>
	<string>395555636051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.22monkeys.wordbattle</string>
	<key>PROJECT_ID</key>
	<string>word-battle-7fc6a</string>
	<key>STORAGE_BUCKET</key>
	<string>word-battle-7fc6a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395555636051:ios:8662bb573a9eb436ded7a6</string>
	<key>DATABASE_URL</key>
	<string>https://word-battle-7fc6a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>